<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.androidacademyminsk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Les_01_Intent.TextViewActivity"
            android:label="@string/name_lesson_01_intent" />
        <activity
            android:name=".Les_01_Intent.Lesson01_Intent"
            android:label="@string/name_lesson_01_intent" />
        <activity
            android:name=".Les_02_Layout.Lesson02_Layout"
            android:label="@string/name_lesson_02_layout" />
        <activity
            android:name=".Les_03_RecyclerView.Lesson03_RecyclerView"
            android:label="@string/name_lesson_03_RecyclerView" />
        <activity
            android:name=".Les_03_RecyclerView.Les03FullInfoActivity"
            android:label="@string/name_lesson_03_RecyclerView" />
        <activity android:name=".Les_04_Base_Multitreading.Lesson04_Multithreading" />
        <activity android:name=".Les_04_Base_Multitreading.AsyncTaskActivity" />
        <activity android:name=".Les_04_Base_Multitreading.LoaderActivity" />
        <activity android:name=".Les_04_Base_Multitreading.ThreadsActivity"></activity>
    </application>

</manifest>